/* body + header */
/* #region */


.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 1;
    align-items: center;
    width: 100%;
    margin-top: 95px;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.01em;

}

.header > .menu {
    grid-column: 1/3;
    grid-row: 1/2;  
    margin-left: 45px;
}

.header  .menu__list {
    display: flex;    
    justify-content: flex-start;
    flex-direction: row;
    gap: 30px;
}

.menu__list {
    list-style-type: circle;
}


.menu__list-item {
    line-height: 21.13px;
    text-decoration: none;
    white-space: nowrap;
    padding-left: 3px;
}

.menu__list-item_no-bullit {
    list-style: none;
}

.header__image {
    grid-column: 2/3;
    grid-row: 1/2;
}

.header > .address {
    margin-right: 70px;
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: end;
    
}

.address {
    display: flex;
    flex-direction: column;
    line-height: 24.3px;
    width: 220px;
}

.address__style {
    letter-spacing: normal;
}
/* #endregion */
/*------------------------------------------------------------------------*/
/*"COVER"*/
/* #region */
.cover {
    position: relative;
    margin-top: 92px;
    padding: 165px 50px 51px;

    background-image: url("../images/cover.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
}

.overlay {
    position: absolute;
    inset: 0;
    background-color : rgba(0, 0, 0, 0.6);
    z-index: 0;
}

.heading {
    position: relative;

    width: 100%;

    font-size: 100px;
    font-weight: 700;
 
    text-transform: uppercase;
    letter-spacing: 0.3em;
    color: rgb(255, 255, 255);
    z-index: 1;

    margin-bottom: 135px;
}

.heading__aligning_left {
    display:block;
    text-align: left;
    line-height: 115px;
}

.heading__aligning_center {
    display:block;
    text-align: center;
    line-height: 145px;
}

.heading__aligning_right {
    display:block;
    text-align: right;
    line-height: 95px;
}

.heading__style_narrow {
    letter-spacing: 0.6em;
}

.heading__style_normal {
    letter-spacing: normal;
}

.cover__description {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-left: 29px;
    z-index: 1;
}

.description__text {
    width: 100%;
    font-size: 22px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: normal;
    text-transform: uppercase;
    color: white;
}

.description__style_wide {
    letter-spacing: 0.65em;
}

.description__style_narrow {
    letter-spacing: 0.3em;
}

.description__style_extra-wide {
    letter-spacing: 1.4em;
}

.bid-button {
    font-size: 22px;
    font-weight: 500;
    line-height: 26px;
    text-transform: uppercase;
    background-color: transparent;
    color: white;
    white-space: nowrap;
    padding: 12px 32px;
    border-width: 1px;
    border-color: white;
}

/* #endregion */
/*------------------------------------------------------------------------*/
/*"LOTS"*/
/* #region */
.lots {
    margin: 180px 24px 0px;
}

.lots__heading {
    margin-left: 40px;

    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-transform: uppercase;
}

.lots__card-list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    gap: 25px;
    margin-top: 27px;
    flex-wrap: wrap;

    list-style: none;
}

.lots__card {
    position: relative;
    padding: 50px 40px;

    max-width: 334px;
    min-height: 563px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    flex-grow: 1;
}

.card__type_film {
    background-image: url("../images/card-lot-01.jpg");
}

.card__type_book {
    background-image: url("../images/card-lot-02.jpg");
}

.card__type_picture {
    background-image: url("../images/card-lot-03.jpg");
}

.card__link{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.card__title {
    position: relative;
    z-index: 1;

    font-size: 22px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    color: white;
    text-decoration: underline;
    
}

.card__text {
    position: relative;
    z-index: 1;

    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    color: white;
   
}

.lots__excerpt {
    display: block;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    margin-left: 40px;
    margin-top: 30px;
}

/* #endregion */
/*------------------------------------------------------------------------*/
/* "ABOUT" */
/* #region */

.about {
    margin: 183px 25px 0px 71px;
}

.about__aside {
    float: left;
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: black;
    width: 240px;
    height: 240px;
    border-radius: 50%;
}

.about__aside > .aside__img {
    width: 148px;
    height: 120px;
}

.about__article {
    display: flex;
    flex-direction: column;
    align-content: first baseline;
    padding-top: 101px;
    padding-left: 72px;
}

.about__heading {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-transform: uppercase;
    white-space: nowrap;
    margin-bottom: 100px;
}

.about__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
    margin: 0;
    margin-bottom: 24px;
}


.about__article .text__style_initial {
    letter-spacing: initial;
}

.about__article .text__style_wider {
    letter-spacing: 0.04em;
}

.about__article .text__style_wide{
    letter-spacing: 0.03em;
}

.about__article .text__style_narrow {
    letter-spacing: 0.02em;
}

.about__article .text__style_narrower{
    letter-spacing: 0.01em;
}

.about > text_style_extra-narrow {
    letter-spacing: -0.01em;
}
/* #endregion */
/*------------------------------------------------------------------------*/
/*footer*/
/* #region */
.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row: 1;
    margin: 155px 50px 89px;

    font-size: 18px;
    font-weight: 400;
}

.header > address {
    grid-column: 1/2;
    grid-row: 1/2;
    justify-self: start;
}

.footer > .menu {
    grid-column: 2/3;
    grid-row: 1/2;
    justify-self: center;
}

.footer .menu__list {
    display: flex;    
    flex-direction: column;
    align-items: center;
    list-style: none;
}

.footer__list_social {
    grid-column: 3/4;
    grid-row: 1/2;
    justify-self: end;
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: flex-start;
    gap: 48px;

    list-style: none;
}

.social__img {
    width: 48px;
    height: 48px;
}
/* #endregion */
